.colores{
    color: red;
}
.color-hexadecimal{

    color: rgba(48, 186, 55,0.3);
}
.fondo{

    background-image: url('https://images2.alphacoders.com/856/thumb-1920-856712.jpg');
    background-position: center;
}

.fondo-interno{

    background-image: url('imagenes/mia.jpeg');
    background-position: center;
}
.ancho{

    background-color: blueviolet;
    width: 100px ;
}
.alto{
    background-color: red;
    height: 100px;
    width: 100px;
}
.tarjeta{
    background-color: aquamarine;
    border-style: solid;
    border-color: rgb(160, 18, 200);
    border-width: 3px;
    margin: 40px 20px;
    padding: 10px;

}